<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" id="pronto-pago">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()">
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
        <div class="prontopaga-payment-logo" data-bind="click: selectPaymentMethod, visible: getLogo() ? true : false">
            <img data-bind="click: selectPaymentMethod,
                            attr: {alt: 'Pronto Paga Logo',
                            src: getLogo()}"
                class="payment-banner-checkout"/>
        </div>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="bar" data-bind="visible: isBarVisible">&nbsp;</div>
        <div class="layout-payment-gateway">
            <!-- ko foreach: { data: getAllowedMethods(), as: 'method' } -->
                <div data-bind="attr: {id: method, class: 'method ' + method},
                                click: function() { $parent.toggleSelected($element) },
                                css: {'_selected': $parent.isSelected}">
                    <img data-bind="attr: {alt: 'method', src: $parent.getMethodLogo(method)}" />
                </div>
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block"  data-bind="css: {'_active': (getCode() == isChecked())}">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="payment-method-billing-address" data-bind="visible: false">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
