<?xml version="1.0" ?>
<!--
Copyright © Improntus All rights reserved.
See COPYING.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" sortOrder="1000" showInWebsite="1" showInStore="1" showInDefault="1" translate="label" type="text">
			<group id="prontopaga" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <fieldset_css>prontopaga</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <comment>
                    <![CDATA[<div class="prontopaga-payment-logo"></div><div class="prontopaga-payment-text">Pagos Rápidos y seguros con <strong>Pronto Paga.</strong></div>]]>
                </comment>
				<field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Title</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
				</field>
				<field id="order_status" type="select" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label" canRestore="1">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
				</field>
				<field id="allowspecific" type="allowspecific" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label" canRestore="1">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
				</field>
				<field id="specificcountry" type="multiselect" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label" canRestore="1">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
				</field>
                <field id="specificmethods" type="multiselect" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Specific Allowed Methods</label>
					<source_model>Improntus\ProntoPaga\Model\Config\Source\PaymentMehods</source_model>
					<can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
				</field>
                <field id="custom_pages" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Custom Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/prontopaga/custom_pages</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <comment>Enable custom success/failure pages.</comment>
                </field>
                <field id="validate_checkout" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Validate on Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/prontopaga/validate_checkout</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <comment>Validate order on checkout. For local environment or debug module, set option in Yes.</comment>
                </field>
                <field id="document_field" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Number document</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <comment>Enable document number input on Payment Method section visible in checkout.</comment>
                </field>
                 <field id="field_required" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Document Number Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="document_field">1</field>
                    </depends>
                    <comment>Field required.</comment>
                </field>
				<field id="sort_order" type="text" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1" translate="label" canRestore="1">
					<label>Sort Order</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
				</field>
                <field id="endpoint" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Base URL API Endpoint</label>
                    <comment>API endpoint for payments. Please make sure that URL ends with '/' (slash), e.g. http:://domain/magento/</comment>
                    <config_path>payment/prontopaga/endpoint</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <validate>required validate-no-empty validate-url validate-url-slash</validate>
                </field>
                <field id="token" translate="label" type="obscure" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <config_path>payment/prontopaga/token</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <validate>required validate-no-empty</validate>
                </field>
                <field id="secret_key" translate="label" type="obscure" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <config_path>payment/prontopaga/secret_key</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <validate>required validate-no-empty</validate>
                </field>
                <field id="logo" translate="label" sortOrder="140" type="Magento\Config\Block\System\Config\Form\Field\Image" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Improntus\ProntoPaga\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">prontopaga</base_url>
                    <validate>required-entry</validate>
                    <upload_dir config="system" scope_info="1">prontopaga</upload_dir>
                    <comment><![CDATA[Allowed file types: jpg, jpeg, gif, png, svg]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <group id="refund_orders" type="text" sortOrder="150" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <label>Refund Configuration</label>
                    <field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label" canRestore="1">
                        <label>Enable Refund</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><model>Improntus\ProntoPaga\Model\Config\Comment\AutoReturnComment</model></comment>
                    </field>
                </group>

                <group id="cancel_orders" type="text" sortOrder="160" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <label>Cancel Order Cron Configuration</label>
                    <field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label" canRestore="1">
                        <label>Cron Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable/Disable cron for cancel pending orders created through Pronto Paga Payment.]]></comment>
                    </field>
                    <field id="schedule" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Cron schedule</label>
                        <source_model>Improntus\ProntoPaga\Model\Config\Source\Frequency</source_model>
                        <backend_model>Improntus\ProntoPaga\Model\Config\Backend\CronConfig</backend_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>
                    <field id="time" translate="label comment" sortOrder="30" type="time" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Time</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>
                    <field id="timeinterval" translate="label comment" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Query Interval Minutes</label>
                        <source_model>Improntus\ProntoPaga\Model\Config\Source\TimeInterval</source_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <comment><![CDATA[Cancel order created in X minutes ago.]]></comment>
                    </field>
                </group>
			</group>
		</section>
	</system>
</config>
